* {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(226, 226, 226);
}
a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#SAMLOGO {
    width: 40%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 20px;
}
#early-test-booking-btn {
    margin-bottom: 10px;
}
#secline {
    margin-bottom: 10px;
}
#orderbuttons {
    display: flex;
    flex-direction: column;
}
.linktext {
    color: white;
}
.buttonclass {
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 0;
    border: 0;
    padding: 10px;
}
#join-us-btn {
    background-color: rgba(255, 0, 0, 0.733);
}
nav {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    background-color: rgba(255, 0, 0, 0.733);
    margin: 20px;
    border-radius: 10px;
}
#navul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    margin: 20px;
}
li {
    list-style-type: none;
}
.classli {
    font-weight: 900;
    font-family:'Courier New', Courier, monospace;
    padding: 5px;
}
#section1 {
    text-align: center;
}
#spantext {
    padding: 3%;
}
#spantext2 {
    font-weight: bold;
    font-size: 105%;
}
.formtext {
    border: 1px solid rgb(2, 2, 77);
    background-color: rgb(235, 235, 235);
    padding: 1%;
    color: black;
    font-size: medium;
    font-weight: 450;
    margin: 2%;
    width: 70%;
}
::placeholder {
    color: black;
    font-weight: 450;
}
#send {
    border: 1px solid rgb(2, 2, 54);
    background-color: rgba(20, 20, 34, 0.836);
    padding: 1%;
    color: rgb(216, 210, 199);
    font-size: medium;
    font-weight: 450;
    font-family: serif;
    margin: 2%;
    width: 20%;
}


/* footer start */


footer {
    margin-top: 50%;
    background-color: rgb(56, 54, 54);
}
#fsdiv1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 0px;
}
#SAMLOGOlast {
    width: 35%;
    margin: 12px 0 15px 0;
}
#fsspan1 {
    color: white;
    font-weight: 0;
    padding-left: 4px;
}
#fsspan2 {
    font-size: 14px;
    color: white;
    font-weight: 0;
}
#likeusimg {
    width: 12%;
    border-radius: 6px;
    vertical-align: middle;
}
#likeus {
    text-align: center;
    margin-top: 2.5%;
}
#refunddiv {
    margin-top: 4%;
    text-align: center;
}
#refundp {
    border: 2px solid white;
    padding: 3px 12px 3px 12px;
}
#legelbadge {
    text-align: center;
    margin-top: 3%;
}
.lastlogos {
    padding: 0 3%;
    width: 30%;
}
#go-top-btn {
    background-color: rgba(0, 0, 0, 0.438);
    position: fixed;
    bottom: 10%;
    font-weight: bolder;
    font-size: larger;
    padding: 2.5%;
    border: 1px dashed white;
}
